APP_ENV=local
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ananahnu

JWT_SECRET=your_jwt_secret_key_change_me
JWT_EXPIRATION_HOURS=24
REFRESH_TOKEN_EXPIRATION_DAYS=7

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password

MIDTRANS_SERVER_KEY="Mid-client-rYI-aCb0J8muI7-C"
MIDTRANS_CLIENT_KEY="Mid-client-rYI-aCb0J8muI7-C"
MIDTRANS_IS_PRODUCTION=false

FONNTE_TOKEN=
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
